FIREBASE_API_KEY=AIzaSyC49zzGMPNwyYeyXEkk7OddDBq2wWeS6LQ
GOLDPRICE_API_KEY=ga_live_F5mn6UKGxwfnHLfgr9daRZkTUCT_26mmjg4RBfyt
GEMINI_API_KEY=AQ.Ab8RN6IxaN4Ll3E36rbY6FIC_OO0LnDN1ceAGBrJiQ2jcvUe0w
GEMINI_MODEL=gemini-3.6-flash
